body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #000;
	
	
}
*,
*:before,
*:after{
	box-sizing: border-box;
}
p,h1{
	margin: 0;
}
 
 /*************** HEADER*********************
************************===================*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	height: 150px;
	background: #006eb6;
	padding: 15px 0;
    z-index: 1000;
 	-webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

.header_fixed {
	position: sticky;
	top: 0;
	left: 0;
	animation-name: show_header ;
	animation-duration: 1s ;
	-webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
}

@keyframes show_header {
	0%{
		opacity: 0;
		top: -50px;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}


.logo {
	text-decoration: none;
	color: #d9d9ff;
	font-size: 40px;
}
.lg { font-weight: bold; }

/* НАВИГАЦИЯ .....................*/
.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 50px;
	text-decoration: none;
	color: #d9d9ff;
	text-transform: uppercase;
	line-height: 1;
}

.nav_link:after {
	display: block;
	content:  "";
	height: 1px;
	width: 0%; 
	background-color: #fff; 
	transition: width 0.4s ease-in-out; 
	top: 100%;
	left: 0;
}

.nav_link:hover {color: #fff;}

.nav_link:hover:after,
.nav_link:focus:after {
width: 100%;
}

/*...........СЛАЙДЕР............*/

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	height: 100%;
	padding: 50px;
	

}




.slick-slider{
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
/* ГЛАВНЫЙ СЛАЙДЕР ...........................................*/
.slider {
	position: relative;
	padding: 0 60px;
	 z-index: 9;
}
.par{
	background-color: rgba(0, 110, 182, 0.5);
	box-shadow: -10px 0 0 rgba(0, 110, 182, 0.5), 10px 0 0 rgba(0, 110, 182, 0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 60px;
		color: #fff;
	position: absolute;
	z-index: 10;
	text-align: center;

}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -60px;
	z-index: 10;
	font-size: 0;
	width: 60px;
	height: 120px;	
	border: none;
  outline: none;
  cursor: pointer;
 
}

.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('assets/images/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
	right : 0;
	background: url('assets/images/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.slider .slick-dots{
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li{
	list-style: none;
	margin: 0 15px;
}

.slider .slick-dots li button {
	font-size: 0;
	width: 20px;
	height: 20px;
	background-color: #006eb6;
	border-radius: 50%;
	outline: none;
	border: none;
}

.slider .slick-dots li.slick-active button {
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: 3px solid #006eb6;
}

.slider__item {
	text-align: center;
}

.info{
	margin-top: 250px;
	font-size: 30px;
	color: #d9d9ff;
	
}
.start{
	color: #fff;
	font-size: 50px;
	font-weight: bold;
}


/*ОБЩАЯ ИНФОРМАЦИЯ..........
///////////////////////////
//////////////////////////*/
.info__general {
	margin-bottom: 100px ;
	display: flex;
	justify-content: space-between;
	background-color: #006eb6;
	padding: 50px;
	align-items: center;
}

.general__item p{
	max-width: 800px;
	left: 0;
}

.general__item img {
	border: solid 5px #fff;
}
/*ИСТОРИЯ ИСТОРИЯ ИСТОРИЯ ..........
///////////////////////////
//////////////////////////*/
.info__history{
	display: flex;
	justify-content: space-between;
	align-items: 	center;
	background-color: #006eb6;
	padding: 50px;
	margin-bottom: 100px ;
}
.info__history a {
text-decoration:none; 
display: inline-block; 
line-height: 1; 
color:#fff;
}
.info__history a:after {
display: block; 
content: ""; 
height: 3px; 
width: 0%; 
background-color: #fff; 
transition: width 0.4s ease-in-out; 
}
.info__history a:hover:after,
.info__history a:focus:after {
width: 100%;
}
.history__item img{
	 padding-top: 4px;
	 
	 padding-right: 50px;
}

.history__item p{
	padding-left: 50px;
	padding-bottom: 0px;
	font-size: 30px;
	color: #d9d9ff;
	max-width: 600px;
}



/*Современный Стерлитамак..........
///////////////////////////
//////////////////////////*/

.info__now{
	display: flex;
	justify-content: space-between;
	align-items: 	center;
	background-color: #006eb6;
	padding: 50px;
	font-size: 30px;
}

.now__item p{
	margin-right: 10px;
}


/* PAGE 22222222222222222222222222///////////////////*/
.history	{
	font-size: 30px;
	color: #006eb6;
	text-align: 	center	;
}
.history p {
	text-align: justify;
}
.history h1 {
	font-size: 	70px;
	margin-bottom: 70px;
}
 .parallax{
 	color: #fff;
 	margin: 100px 0;
 	background-image: url(assets/images/12.jpg) ;
 	height: 600px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 60px;
  align-items: center;
  position: relative;
 }

 .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 2;
}
.parallax__content {
    z-index: 3;
}

.history a {
text-decoration:none; 
display: inline-block; 
line-height: 1;
color: #006eb6; 
}
.history a:after {
display: block; 
content: ""; 
height: 3px; 
width: 0%; 
background-color: #006eb6; 
transition: width 0.4s ease-in-out; 
}


.history a:hover:after,
.history a:focus:after {
width: 100%;
}

.parallax2{
 	color: #fff;
 	margin: 100px 0;
 	background-image: url(assets/images/13.jpg) ;
 	height: 600px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 60px;
  align-items: center;
  position: relative;
 }

 .parallax3{
 	color: #fff;
 	margin: 100px 0;
 	background-image: url(assets/images/14.jpg) ;
 	height: 600px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 60px;
  align-items: center;
  position: relative;
 }

 .parallax4{
 	color: #fff;
 	margin: 100px 0;
 	background-image: url(assets/images/15.jpg) ;
 	height: 600px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 60px;
  align-items: center;
  position: relative;
 }

 .parallax5{
 	color: #fff;
 	margin: 100px 0;
 	background-image: url(assets/images/16.jpg) ;
 	height: 600px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 60px;
  align-items: center;
  position: relative;
 }

#map{
	width: 100%;
	height: 600px;
}


.map__window {
	position: relative;
	display: flex;
	flex-direction: column;
}

#map_link {
	font-size: 20px;
text-decoration:none; 
display: inline-block; 
line-height: 1;
color: #006eb6; 
padding-right:170px;
}
#map_link:after {
display: block; 
content: ""; 
height: 1px; 
width: 0%; 
background-color: #006eb6; 
transition: width 1s ease-in-out; 
}


#map_link:hover:after,
#map_link:focus:after {
width: 100%;
}

.map__btn {
	padding: 10px 15px;
	border: 1px solid #006eb6;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	margin-top: 10px;
	
	
}

.map__btn_active {
	border: 1px solid transparent;
	background-color: #006eb6;
	color: #fff;
}
